.mainpage {
    /* 1. Define the image source */

    position: absolute;

    right: -18%;
    top: -40%;

    z-index: -900;

    width: 110dvw;
    height: 110dvh;


    background-color: aqua;
    

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;



}


.titlehung{

    color: white;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    width: 80vw;
    right: 8%;
    font-weight: 800;
    text-align: center;


}


.formulario{

    display: flex;

    gap: 2rem 0px;
    flex-direction: column;

}


.input-field{
    height: 6dvh;

    background-color: #ffbe00 ;
    text-align: center;
    font-size: 1rem;

    border-radius: 10px;

}


.jugar{

    background-color: #744a25;
    color: white;
    margin-top: 20%;
    height: 8vh;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 50px;
}



.HUDheader{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #744a25;
    color: white;
    font-size: 0.9rem;
    border-radius: 10px;
    

}


.swal2-popup {
    font-size: 14px !important;
}


.titlecoleccion{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


.closer{

    
    background-color: #744a25;
    color: white;
    margin-top: 20%;
    height: 6vh;
    width: 60%;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 50px;

}