@font-face {
  font-family: 'Rowdies';
  src: url('font/Rowdies-Regular.tff') format('tff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Roboto-regular';
  src: url('font/Roboto-Regular.tff') format('tff');
  font-weight: normal;
  font-style: normal;
}




/* Optional: remove success animation lines */
.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-success-fix {
  background: transparent !important;
}