@font-face {
  font-family: 'Rowdies';
  src: url('font/Rowdies-Regular.tff') format('tff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Roboto-regular';
  src: url('font/Roboto-Regular.tff') format('tff');
  font-weight: normal;
  font-style: normal;
}
