@font-face {
  font-family: 'Rowdies';
  src: url('font/Rowdies-Regular.tff') format('tff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Roboto-regular';
  src: url('font/Roboto-Regular.tff') format('tff');
  font-weight: normal;
  font-style: normal;
}



.swal-custom-popup .swal2-icon.swal2-success,
.swal-custom-popupfinal .swal2-icon.swal2-success {
  background: none !important;
  border: none !important;
}

.swal-custom-popup .swal2-success-circular-line-left,
.swal-custom-popup .swal2-success-circular-line-right,
.swal-custom-popup .swal2-success-fix,
.swal-custom-popupfinal .swal2-success-circular-line-left,
.swal-custom-popupfinal .swal2-success-circular-line-right,
.swal-custom-popupfinal .swal2-success-fix {
  display: none !important;
}